div .diaries{
    width: 90%;
}
div .own_diaries {
    width: 90%;
}

div .mydiary {
   font-size: 20px;
   border-radius: 20px;
   transition: .8s;
	color: #0f1419;
	padding: 0;
	text-decoration: none;
    width: inherit;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid gray;
    
}

div .mydiary a{
	color:#0F1319;
	text-decoration: none;
}


div .mydiary:hover{
    background-color: #EAEAEB;
    transform: translateY(0);
    box-shadow: 5px 5px 5px whitesmoke;
}

.mydiary p .mypagebody {
    width: 0;
    padding: 0;
}

div .like{
    text-align:right;
    padding:20px;
}

div .likecount a:hover{
   background:linear-gradient(transparent 90%, #9191a6 0%);
}

div .delete{
    padding-right:100vh;
}

div .delete button{
    background-color: #FFFFFF;
    color: #E32E64;
    border-radius: 20px;
    border: 0px solid gray;
}

div .delete button:hover{
    background-color: #E32E64;
    color: #FFFFFF;
    border-radius: 20px;
    border: 0px solid gray;
}

div .username a{
    color: #0f1419;
    display: inline-block;
    font-size: 40px;
}

div .showdiary {
    font-size: 35px;
    display:inline-block;
    border-radius: 20px;
    transition: .8s;
	color: #0f1419;
	padding: 0;
	text-decoration: none;
    width: inherit;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid gray;
    
}

div .showdiary a{
	color:#0F1319;
	text-decoration: none;
}


@media screen and (max-width: 1450px){


    div .delete{
        padding-right:0;
        text-align: left;
    }

 

}


@media screen and (max-width: 767px){


    div .diaries{
        width: 100%;
    }

    div .own_diaries {
        width: 90%;
    }

    div .mydiary {
       text-align: center;
    
    }


    div .left-top{
        display: flex;
    }

    div .left-bottom{
        display: flex;
    }

    div .username a{
        display: block;
        text-align: left;
    }

}
