html,body{
	height:100%;
	margin:0;
	padding:0;
}

* {
	box-sizing:border-box;
}

div .split-box{
	position:absolute;
	width:80%;
	height:100%;
	padding:1em;
}

div .left-box {
	font-size: 20px;
	left:0;
	background:#FFFFFF;
	color:#0F1319;
}

div .left-box p a{
	display: inline-block;
	color: #0f1419;
	border-radius: 20px; 
	padding: 8px 16px;
	text-decoration: none;
}

div .left-box a{
	color:#0F1319;
	display:inline-block;
}

div .left-box p a:hover{
	background-color: #EAEAEB;
}

div .show-left-box {
	font-size: 20px;
	left:0;
	background:#FFFFFF;
	color:#0F1319;
}

div .show-left-box p a{
	display: inline-block;
	color: #0f1419;
	border-radius: 20px; 
	padding: 8px 16px;
	text-decoration: none;
}

div .show-left-box a{
	color:#0F1319;
	display:inline-block;
}

div .show-left-box p a:hover{
	background-color: #EAEAEB;
}

div .right-box {
	right:0;
	overflow-y:scroll;
	background:#ffffff;
}

@media screen and (max-width: 767px){


	div .split-box{
		display: block;
		text-align: center;
		width:100%;
		height:100%;
	}

	div .left-box {
		display: flex;
    	padding: 10px;
    	font-size: 3vw;
	}
	
	div .show-left-box{
		display: block;
    	padding: 10px;
    	font-size: 2vw;
	}

	div .right-box {
    	margin-top:100px;
	}

}