.split-box{
	position:absolute;
	width:80%;
	height:100%;
}

.left-box {
	left:0;
	height:100vh;
}

.right-box {
	right:0;
	height:100vh;
}

.body {
  white-space: pre-wrap;
}

@media screen and (max-width:600px) { 
	.split-box {
		position:relative;
		width:100%;
		height:auto;
	}
	
	.body{
		width: 70%;
	}
}